* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  height: 600px;
  width: 600px;
  background-image: linear-gradient(135deg, #FFA8A8 10%, #FCFF00 100%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.box2 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
  animation: bounce 2s infinite;
  position: relative;
}


@keyframes bounce {

  0%,ko
  100% {
    top: -46%;
    animation-timing-function: ease-in;
  }

  50% {
    top: 49%;
    animation-timing-function: ease-out;
  }

}